<div class="sg-entry" id="{{ identifier }}">
  <div class="sg-entry--md">
    {{{ markdownContent }}}
  </div>
  {{#if htmlContent}}
    <div class="sg-entry--html-example-hl">Output:</div>
    {{#each modifiers}}
      <div class="sg-entry--html-example">
        {{#if this}}
          <div class="sg-entry--html-example-modifier">Modifier-Class: <code>{{ this }}</code></div>
        {{/if}}
        {{{sgReplaceModifier ../htmlContent this}}}
      </div>
    {{/each}}
    <div class="sg-entry--html-code">
      <i>HTMl-Source:</i>
      <pre><code class="language-markup">{{ htmlContent }}</code></pre>
    </div>
  {{/if}}
</div>